<%- include('../includes/head.ejs') %>
    </head>
    <link rel="stylesheet" href="/css/cart.css">
    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <ul class="cart__item-list">
                <% products.forEach(p => { %>
                    <li class="cart__item">
                        <h1><%= p.productId.title %></h1>
                        <h2>Quantity: <%= p.quantity %></h2>
                    </li>
                <% }) %>
            </ul>
            <div class="centered">
                <h2>Total = $<%= totalValue %></h2>
            </div>
            <div class="centered">
                <button id="order-btn" class="btn">ORDER</button>
                <script src="https://js.stripe.com/v3/"></script>
                <script>
                    let stripe = Stripe("pk_test_51IAVpxEkJ8AggA6gtEL4nQPSfsTfU1kNfs94eNNMDvRVoJJ1MIJVDRItwY7wdkObrvSKchhRQpeEU1DeujNbmTwU00HDflFoZF");
                    let orderBtn = document.getElementById(`order-btn`);
                    orderBtn.addEventListener(`click`, function() {
                        stripe.redirectToCheckout({
                            sessionId: `<%= sessionId %>`
                        });
                    }) ;
                </script>
            </div>
        </main>
        <%- include('../includes/end.ejs') %>